<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>従業員詳細</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
<h1>日報管理システム</h1>
<h2>id:[[${employee.id}]]の従業員情報　詳細ページ</h2>
<table th:object="${employee}" class="employee">
<tr><th>社員番号</th><td th:text="*{authentication.code}"></td></tr>
<tr><th>名前</th><td th:text="*{name}"></td></tr>
<tr><th>権限</th><td th:text="*{authentication.role}"></td></tr>
<tr><th>登録日時</th><td th:text="${#temporals.format(employee.createdAt, 'yyyy/MM/dd')}"></td></tr>
<tr><th>更新日時</th><td th:text="${#temporals.format(employee.updatedAt, 'yyyy/MM/dd')}"></td></tr>
</table>


<a th:href="@{/employee/update/{id}/(id=${employee.id})}">この従業員情報を編集する</a><br>
<a th:href="@{/employee/list}">一覧に戻る</a>


</body>
</html>