<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム - 従業員情報の編集</title>
</head>

<body>
    <h1>日報管理システム</h1>
    <h2>id:[[${employee.id}]]の従業員情報　編集ページ</h2>

    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
    <input type="hidden" id="id" name="id" th:field="*{id}">


    <label for="code">社員番号</label><br>
    [[${employee.authentication.code}]]<br><br>

    <input type="hidden" id="code" name="code" th:field="*{authentication.code}">


    <label for="name">氏名</label><br>
    <input type="text" th:field="*{name}">
    <br>

    <label for="password">パスワード</label><br>
    <input type="text" th:field="*{authentication.password}">
    <br>

    <label for="role">権限</label><br>
    <select th:field="*{authentication.role}">
      <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}"
       th:text="${item}" th:selected="${employee.authentication.role} == ${item}">
    </select>
    <br>
    <br>
    <input type="submit" value="投稿"><br>

    <a th:href="@{/employee/delete/{id}/(id=${employee.id})}">この従業員情報を削除する</a>

    </form>

</body>
</html>